<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Location</key>
	<dict>
		<key>ShouldFetchLocation</key>
		<false/>
	</dict>
	<key>PushSimulation</key>
	<dict>
		<key>Enabled</key>
		<false/>
		<key>Interval</key>
		<integer>10</integer>
	</dict>
	<key>FakeFeeds</key>
	<dict>
		<key>Enabled</key>
		<false/>
		<key>LoadDelay</key>
		<real>0.5</real>
	</dict>
	<key>Logs</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>Level</key>
		<integer>61</integer>
	</dict>
	<key>Server</key>
	<dict>
		<key>ActiveServer</key>
		<dict>
			<key>http://192.168.1.127:8000</key>
			<false/>
			<key>http://pals-api-dev.eu-west-1.elasticbeanstalk.com</key>
			<true/>
		</dict>
	</dict>
	<key>DefaultUser</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>Login</key>
		<string>user322</string>
		<key>Password</key>
		<string>qwe</string>
		<key>EnableBalanceCheck</key>
		<false/>
	</dict>
</dict>
</plist>
