<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FakeFeeds</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>LoadDelay</key>
		<real>0.5</real>
	</dict>
	<key>Logs</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>Level</key>
		<integer>15</integer>
	</dict>
	<key>Server</key>
	<dict>
		<key>ActiveServer</key>
		<dict>
			<key>http://yegor.pythonanywhere.com</key>
			<false/>
			<key>http://192.168.1.9:8181</key>
			<false/>
			<key>https://api.pals.com</key>
			<false/>
		</dict>
	</dict>
	<key>DefaultUser</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>Login</key>
		<string>user1</string>
		<key>Password</key>
		<string>password1</string>
	</dict>
</dict>
</plist>
